<head>
  <meta charset="utf-8"/>
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
  <meta
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
    name="viewport"
  />
  <link rel="icon" type="image/png" href="/assets/img/favicon.png"/>

  {% if page.title %}
    <title>{{ page.title }}</title>
  {% else %}
    <title>Stefane Fermigier, tech entrepreneur</title>
  {% endif %}

  {%- if og_data %}
    {% for k, v in og_data.items() %}
      {% if k.startswith('og:') -%}
        <meta property="{{ k }}" content="{{ v }}"/>
      {%- elif k.startswith('twitter:') -%}
        <meta name="{{ k }}" content="{{ v }}"/>
      {%- endif -%}
    {% endfor %}
  {%- endif %}

  <link
    crossorigin="anonymous"
    href="https://fonts.gstatic.com"
    rel="preconnect"
  />

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700"/>
  <link rel="stylesheet" href="/assets/css/styles.css"/>
</head>
