{% extends "_base.j2" %}

{% block content %}
  {% for post in posts %}
    <div
      class="post border-gray-400 border-b mb-12"
    >
      <h2 class="text-3xl leading-tight font-bold">
        <a href="{{ post.url }}" class="text-gray-900">{{ post.title }}</a>
      </h2>

      <div class="text-gray-600 italic mt-2 mb-4">
        <span>{{ post.date }}</span>
      </div>

      <div class="text-lg mb-4">
        {{ post.summary }}
      </div>

      <div class="mb-8">
        <a href="{{ post.url }}" class="font-bold">➜ Read More</a>
      </div>
    </div>
  {% endfor %}
{% endblock %}
